<!-- <img *ngIf="!_whiteLogo"
     src="./assets/images/logo_smallsize.png" [routerLink]="['/Major']" [class]="smallSize? 'smallSize': ''"/>

<img *ngIf="_whiteLogo" src="./assets/images/white_logo.png" [routerLink]="['/Major']" [class]="smallSize? 'smallSize': ''" /> -->

<div class="btn">
     <img *ngIf="!_whiteLogo" style="margin-right: 80px;"
     src="./assets/images/logo_smallsize.png" [routerLink]="['/My_links']" [class]="smallSize? 'smallSize': ''"/>

     <img *ngIf="_whiteLogo" style="margin-right: 80px;" src="./assets/images/white_logo.png" [routerLink]="['/My_links']" [class]="smallSize? 'smallSize': ''" />
     
</div>
